body {
  font-family: 'carme', sans-serif;
  margin: 0;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.header-container {
  background-color: #424869;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#1f222e), to(#424869));
  background: -webkit-linear-gradient(top, #1f222e, #424869) no-repeat;
  background: -moz-linear-gradient(top, #1f222e, #424869) no-repeat;
  background: -o-linear-gradient(top, #1f222e, #424869) no-repeat;
  background: -ms-linear-gradient(top, #1f222e, #424869) no-repeat;
  background: linear-gradient(top, #1f222e, #424869) no-repeat;
  -moz-box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.5);
  position: relative;
  z-index: 1;
  min-width: 930px;
  width: 100%;
  height: 50px;
}
.header-container .header {
  color: white;
  padding-right: 140px;
  float: right;
  position: relative;
}
.header-container .header .item {
  display: inline-block;
  padding: 14px 8px;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
}
.header-container .header .item:first-child:hover {
  color: #8c8cff;
}
.header-container .header .item:nth-child(2):hover {
  color: #ff6767;
}
.header-container .header .item:nth-child(3):hover {
  color: #9aff8c;
}
.header-container .header .item:nth-child(4):hover {
  color: #ffa13c;
}
.header-container .header .item:nth-child(5):hover {
  color: #3cfff7;
}
.header-container .header .hireme {
  position: absolute;
  top: 40px;
  left: 400px;
}
.title-box-container {
  background-color: #414141;
  min-width: 930px;
}
.title-box-container .title-box {
  background-color: #787571;
  background: -webkit-gradient(radial, center 0, 0, center 0, 100, color-stop(0%, #787571), color-stop(100%, #242424)) no-repeat;
  background: -webkit-radial-gradient(center 0, circle cover, #787571, #242424) no-repeat;
  background: -moz-radial-gradient(center 0, circle cover, #787571, #242424) no-repeat;
  background: -o-radial-gradient(center 0, circle cover, #787571, #242424) no-repeat;
  background: -ms-radial-gradient(center 0, circle cover, #787571, #242424) no-repeat;
  background: radial-gradient(center 0, circle cover, #787571, #242424) no-repeat;
  text-align: center;
  padding-top: 200px;
  height: 280px;
  width: 60%;
  min-width: 550px;
  margin: 0 auto;
  border-top: 13px solid #868383;
  border-left: 50px solid #272727;
  border-right: 50px solid #272727;
  border-bottom: 8px solid #404666;
}
.title-box-container .title-box .name {
  color: white;
  font-family: 'Syncopate', sans-serif;
  font-size: 48px;
}
.title-box-container .title-box .title {
  color: #f5ce43;
  font-size: 20px;
}
.info-box-container {
  background-color: #ffffff;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#404666), to(#ffffff));
  background: -webkit-linear-gradient(top, #404666, #ffffff) no-repeat;
  background: -moz-linear-gradient(top, #404666, #ffffff) no-repeat;
  background: -o-linear-gradient(top, #404666, #ffffff) no-repeat;
  background: -ms-linear-gradient(top, #404666, #ffffff) no-repeat;
  background: linear-gradient(top, #404666, #ffffff) no-repeat;
  min-width: 930px;
}
.info-box-container .info-box {
  width: 930px;
  margin: 0 auto;
  padding-top: 150px;
}
.info-box-container .info-box .title {
  font-size: 30px;
  font-weight: bold;
  border-bottom: 2px solid;
  display: inline-block;
  margin-bottom: 10px;
  padding: 0 25px;
  margin-left: 30px;
}
.info-box-container .info-box .info {
  display: inline-block;
  width: 70%;
  vertical-align: top;
  font-size: 22px;
}
.info-box-container .info-box .me {
  width: 250px;
}
.info-box-container .info-box .specs {
  width: 100%;
  padding-top: 50px;
}
.info-box-container .info-box .specs tr {
  vertical-align: top;
}
.info-box-container .info-box .specs tr .subtitle-container {
  text-align: center;
}
.info-box-container .info-box .specs tr .subtitle-container .subtitle {
  display: inline-block;
  border-bottom: 2px solid;
  font-size: 20px;
  padding: 0 12px 3px 12px;
}
.portfolio-box-container {
  background-color: #727272;
  min-width: 930px;
  -moz-box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.5);
}
.portfolio-box-container .portfolio-box {
  width: 930px;
  margin: 0 auto;
}
.portfolio-box-container .portfolio-box .title-container {
  text-align: center;
  padding: 20px 0;
}
.portfolio-box-container .portfolio-box .title-container .title {
  display: inline-block;
  border-bottom: 2px solid;
  font-size: 20px;
  padding: 0 12px 3px 12px;
}
.portfolio-box-container .portfolio-box .projects {
  width: 100%;
  text-align: center;
}
.portfolio-box-container .portfolio-box .projects td {
  vertical-align: top;
}
.portfolio-box-container .portfolio-box .projects td .proj-img {
  width: 200px;
  cursor: pointer;
  background-color: black;
  transition: all 0.2s;
  -moz-transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
}
.portfolio-box-container .portfolio-box .projects td .proj-img:hover {
  opacity: .5;
}
.portfolio-box-container .portfolio-box .projects td .proj-name {
  margin-bottom: 30px;
}
.social-box-container {
  min-width: 930px;
}
.social-box-container .social-box {
  width: 930px;
  margin: 0 auto;
  padding: 50px;
  font-size: 20px;
}
.social-box-container .social-box .title {
  font-size: 30px;
}
.social-box-container .social-box .info {
  width: 210px;
  margin: 0 auto;
}
.social-box-container .social-box .item {
  cursor: pointer;
  color: blue;
}
.social-box-container .social-box .item:hover {
  text-decoration: underline;
}
.social-box-container .social-box .stalkers {
  width: 200px;
}
.social-box-container .social-box .stalkers .logo {
  width: 50px;
  height: 50px;
  border-radius: 5px;
  margin: 20px;
  cursor: pointer;
  transition: all 0.2s;
  -moz-transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
}
.social-box-container .social-box .stalkers .logo:hover {
  transform: rotate(20deg);
  -ms-transform: rotate(20deg);
  -webkit-transform: rotate(20deg);
  -o-transform: rotate(20deg);
  -moz-transform: rotate(20deg);
}
.footer-box-container {
  background-color: black;
  color: white;
  min-width: 930px;
}
.footer-box-container .footer-box {
  width: 930px;
}
.footer-box-container .footer-box .copyright {
  padding: 20px 50px;
}
.footer-box-container .footer-box .copyright span {
  font-family: sans-serif;
}
.overlay {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.5);
}
.overlay .popup {
  margin: 0 auto;
  height: 300px;
  width: 40%;
  min-width: 300px;
  background-color: white;
  padding: 60px;
  position: relative;
  top: 200px;
}
.overlay .popup span {
  font-size: 32px;
}
