// Mixins

border-radius(n)
  -webkit-border-radius n
  -moz-border-radius n
  border-radius n

circle-gradient(c1, c2)
  background-color: c1;
  background: -webkit-gradient(radial, center 0, 0, center 0, 100, color-stop(0%, c1), color-stop(100%, c2)) no-repeat;
  background: -webkit-radial-gradient(center 0, circle cover, c1, c2) no-repeat;
  background: -moz-radial-gradient(center 0, circle cover, c1, c2) no-repeat;
  background: -o-radial-gradient(center 0, circle cover, c1, c2) no-repeat;
  background: -ms-radial-gradient(center 0, circle cover, c1, c2) no-repeat;
  background: radial-gradient(center 0, circle cover, c1, c2) no-repeat;

line-gradient(c1, c2)
  background-color: c1;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(c2), to(c1));
  background: -webkit-linear-gradient(top, c2, c1) no-repeat;
  background: -moz-linear-gradient(top, c2, c1) no-repeat;
  background: -o-linear-gradient(top, c2, c1) no-repeat;
  background: -ms-linear-gradient(top, c2, c1) no-repeat;
  background: linear-gradient(top, c2, c1) no-repeat;

// Variables

$floor_color = #404666
$wall_color = #272727
$ceiling_color = #868383
$main_grey = #414141

// Styles

*
  box-sizing border-box
  padding 0
  margin 0
  font-family 'carme', sans-serif

.header
  .taglines
    display flex

    > div
      flex-grow 1
      font-size 20px
      color #f5ce43

  .title
    font-family "Syncopate", sans-serif
    font-size 48px
    color white

.header-box-container
  background-color $main_grey
  min-width 930px

.header-box
  circle-gradient #787571 #242424
  text-align center
  padding-top 200px
  height 500px
  width 60%
  min-width 550px
  margin 0 auto
  border-top 13px solid $ceiling_color
  border-left 50px solid $wall_color
  border-right 50px solid $wall_color
  border-bottom 8px solid $floor_color

.info-box
  padding-top 150px
  line-gradient white $floor_color
  min-width 930px

.skills
  display flex

  > div
    flex-grow 1

  .title
    display inline-block
    border-bottom 2px solid
    font-size 20px
    padding 3px 12px
    margin-bottom 15px

.projects-box
  background-color #727272
  box-shadow 0 0 20px 2px rgba(0, 0, 0, .5)

.social-box
  background-color $main_grey
